<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <!--系统模块-->
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.BonusDefineService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IBonusDefineService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.DepartmentService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IDepartmentService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.PositionService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IPositionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.ProductionLineService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IProductionLineService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.StaffBonusService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffBonusService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.StaffSalaryService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffSalaryService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.StaffSalaryViewService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffSalaryViewService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.StaffService">
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    </service>
    <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.WorkTeamService">
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkTeamService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
    </service>
  </system.serviceModel>
</configuration>
