<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <!--系统模块-->
      <!-- Base 模块 -->
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.DepartmentService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IDepartmentService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.PositionService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IPositionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.ProductionLineService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IProductionLineService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.StaffLevelService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffLevelService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.StaffService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.WorkTeamService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkTeamService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.WorkSectionService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkSectionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.WarehouseService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWarehouseService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.WarehouseManagerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWarehouseManagerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>      
      <!-- Base 模块 End -->
      
      <!-- 考勤模块 -->
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborDailyAttendanceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborDailyAttendanceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborDailyWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborDailyWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.WorkTeamDailyWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IWorkTeamDailyWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.AttendanceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IAttendanceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborChangeWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborChangeWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborProductionWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborProductionWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborElectricWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborElectricWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborRepairWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborRepairWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborLeaveWorkloadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborLeaveWorkloadService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborMonthAttendanceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborMonthAttendanceService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- 考勤模块 End -->
      
      <!-- 工资模块 -->
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.SalaryBaseService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ISalaryBaseService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborSalaryService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ILaborSalaryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.LaborSalaryRecordService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.ILaborSalaryRecordService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!-- 工资模块 End -->

      <!-- 生产模块 -->
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.CompletionListService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.ICompletionListService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.ElectricMaintenanceManHoursService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IElectricMaintenanceManHoursService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.MachineMaintenanceManHoursService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IMachineMaintenanceManHoursService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.ReplaceMachineCategoryService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IReplaceMachineCategoryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.ReplaceMachineManHoursService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IReplaceMachineManHoursService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.HR.WCFLibrary.ReplaceMachineStandardManHoursService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.HR.Facade.IReplaceMachineStandardManHoursService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <!-- 生产模块 End -->
      
      <!-- 视图模块 -->

      <!-- 视图模块 End -->
     
      
    </services>
  </system.serviceModel>
</configuration>
