<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="attachment.wcflibrary" version="1.0.0" targetFramework="net40" />
  <package id="dictionary.wcflibrary" version="1.0.0" targetFramework="net40" />
  <package id="Hades.Framework.Commons" version="1.0.0" targetFramework="net40" />
  <package id="Hades.Framework.ControlUtil" version="1.0.0.1" targetFramework="net40" />
  <package id="Hades.Pager.Entity" version="1.0.0" targetFramework="net40" />
  <package id="security.wcflibrary" version="1.0.0" targetFramework="net40" />
</packages>