<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <add name="mysql" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=ComponentData;Uid=root;Pwd=;"/>
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=WareHouse;User ID=sa;Password=123456"/>
    <add name="access" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ComponentData.mdb;User ID=Admin;Jet OLEDB:Database Password=;"/>
    <add name="sqlite" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|\ComponentData.db;Version=3;"/>
    <add name="oracle" providerName="System.Data.OracleClient" connectionString="Data Source=bhdb;User ID=bhgl;Password=bhgl"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="sqlserver">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient"/>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite" name="System.Data.SQLite"/>
    </providerMappings>
  </dataConfiguration>
  <appSettings>
    <!--数据库类型：access、sqlserver等，默认为sqlserver可不写-->
    <add key="ComponentDbType" value="sqlserver"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            设置 compilation debug="true" ，将调试符号 
            插入已编译的页面中。但由于这会影响性能， 
           因此请只在开发过程中 
            将此值设置为 true。
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            通过 <authentication> 节可以配置
            ASP.NET 使用的安全身份验证 
            模式，以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
           应执行的操作。 
            具体说来，开发人员通过该节 
            可以配置要显示的 html 错误页 
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.serviceModel>
    <services>
      <!--系统模块-->
      <!--权限管理模块-->
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.FunctionService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.IFunctionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.UserService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.IUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.OUService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.IOUService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.RoleService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.IRoleService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.SystemTypeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.ISystemTypeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.LoginLogService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.ILoginLogService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Security.WCFLibrary.MenuService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Security.Facade.IMenuService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!--附件模块-->
      <service behaviorConfiguration="CustomBehavior" name="WHC.Attachment.WCFLibrary.FileUploadService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Attachment.Facade.IFileUploadService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <!--字典模块-->
      <service behaviorConfiguration="CustomBehavior" name="WHC.Dictionary.WCFLibrary.DictTypeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Dictionary.Facade.IDictTypeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="WHC.Dictionary.WCFLibrary.DictDataService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="WHC.Dictionary.Facade.IDictDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" maxReceivedMessageSize="2147483647">
          <!--是用证书加密方式-->
          <!--<security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>-->
          <!--不是用加密方式-->
          <security mode="None"/>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials/>
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>