<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Web API模块配置-->
                     <add key="Ou" value="http://localhost:9001/api/Ou"/>
     
       <add key="Position" value="http://localhost:9001/api/Position"/>
     
                                                                
  </appSettings>
</configuration>




      
