<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>    
      <!--字典模块-->
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.DictTypeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IDictTypeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.DictDataService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IDictDataService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.CityService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.ICityService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.DistrictService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IDistrictService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.ProvinceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IProvinceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.UserParameterService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IUserParameterService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.AppChannelService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IAppChannelService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Dictionary.WCFLibrary.RefDictNameService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
          contract="Hades.Dictionary.Facade.IRefDictNameService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>     
    </services>
  </system.serviceModel>
</configuration>
