<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--使用本地Winform（非WCF）获取数据的配置 开始-->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=HadesERP;Integrated Security=SSPI" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="sqlserver">
    <providerMappings>
    </providerMappings>
  </dataConfiguration>
  <!--使用本地Winform（非WCF）获取数据的配置 结束-->
  <appSettings>
    <!--软件名称-->
    <add key="ApplicationName" value="企业ERP管理平台" />
    <!--开发商名称-->
    <add key="Manufacturer" value="江南大学" />
    <!--授权使用单位-->
    <add key="CertificatedCompany" value="无锡四方友信股份有限公司" />
    <!--软件介绍（关于对话框）-->
    <add key="Description" value="企业ERP管理平台是针对企业的人、财、物、信息等流的综合管理平台，可充分提高企业的管理水平。" />
    <!--程序启动界面图片（不设置采用默认,建议图片宽高比2:1）-->
    <add key="SplashScreen" value="Images\startScreen.png" />
    <!--组件的数据库类型：access、sqlserver、sqlite、oracle等，默认为sqlserver可不写-->
    <add key="ComponentDbType" value="sqlserver" />
    <!--组件模块调用方式，采用WCF方式Value为wcf，采用Winform方式Value为win-->
    <add key="CallerType" value="win" />
    <!--WCF Config存放路径-->
    <add key="wcfconfigpath" value="WcfConfig"/>
    <!--GridView中分页的大小-->
    <add key="GridPageSize" value="30" />
    <!--系统异步访问超时;3秒-->
    <add key="AsynTimeOut" value="3" />
    <!--自动更新-->
    <add key="AutoUpdate" value="false" />
    <!--导入Excel模版文件的基础路径-->
    <add key="TemplateBasePath" value="E:\\四方信息\\TEST\\Excel导入模版"/>
    <!--信息反馈目标：开发团队邮箱-->
    <add key="feedbackmail" value="xuyi7208@163.com" />
     
    <!--开发模式：false开发模式，true:运行模式，默认为true-->
    <add key="SecurityRunTime" value="false" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>