<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <!--仓库管理模块-->
    <add key="ItemDetail" value="http://localhost:9001/api/ItemDetail"/>
    <add key="PurchaseDetail" value="http://localhost:9001/api/PurchaseDetail"/>
    <add key="PurchaseHeader" value="http://localhost:9001/api/PurchaseHeader"/>
    <add key="ReportAnnualCostDetail" value="http://localhost:9001/api/ReportAnnualCostDetail"/>    
    <add key="ReportAnnualCostHeader" value="http://localhost:9001/api/ReportAnnualCostHeader"/>
    <add key="ReportMonthlyCostDetail" value="http://localhost:9001/api/ReportMonthlyCostDetail"/>
    <add key="ReportMonthlyDetail" value="http://localhost:9001/api/ReportMonthlyDetail"/>
    <add key="ReportMonthlyHeader" value="http://localhost:9001/api/ReportMonthlyHeader"/>
    <add key="Stock" value="http://localhost:9001/api/Stock"/>    
    <add key="WareHouse" value="http://localhost:9001/api/WareHouse"/>  
    
    <!--人员信息管理 Web API模块配置-->
    <add key="Staff" value="http://localhost:9001/api/Staff"/>
    <add key="StaffAbroad" value="http://localhost:9001/api/StaffAbroad"/>
    <add key="StaffAcademic" value="http://localhost:9001/api/StaffAcademic"/>
    <add key="StaffAward" value="http://localhost:9001/api/StaffAward"/>    
    <add key="StaffBusinessTrip" value="http://localhost:9001/api/StaffBusinessTrip"/>
    <add key="StaffFamily" value="http://localhost:9001/api/StaffFamily"/>
    <add key="StaffPicture" value="http://localhost:9001/api/StaffPicture"/>
    <add key="StaffResearch" value="http://localhost:9001/api/StaffResearch"/>
    <add key="StaffResume" value="http://localhost:9001/api/StaffResume"/>    
    <add key="StaffRotation" value="http://localhost:9001/api/StaffRotation"/>
    <add key="StaffStudy" value="http://localhost:9001/api/StaffStudy"/>    
    <add key="StaffTitles" value="http://localhost:9001/api/StaffTitles"/>    
    <add key="StaffVacation" value="http://localhost:9001/api/StaffVacation"/>

    <!--通讯录 Web API模块配置-->
    <add key="Address" value="http://localhost:9001/api/Address"/>
    <add key="AddressGroup" value="http://localhost:9001/api/AddressGroup"/>

    <!--字典Web API模块配置-->
    <add key="DictType" value="http://localhost:9001/api/DictType"/>
    <add key="DictData" value="http://localhost:9001/api/DictData"/>
    <add key="City" value="http://localhost:9001/api/City"/>
    <add key="District" value="http://localhost:9001/api/District"/>
    <add key="Province" value="http://localhost:9001/api/Province"/>
    <add key="UserParameter" value="http://localhost:9001/api/UserParameter"/>

    <!--附件管理 Web API模块配置-->
    <add key="FileUpload" value="http://localhost:9001/api/FileUpload"/>
    
    <!--权限管理 Web API模块配置-->
    <add key="BlackIP" value="http://localhost:9001/api/BlackIP"/>
    <add key="Function" value="http://localhost:9001/api/Function"/>
    <add key="LoginLog" value="http://localhost:9001/api/LoginLog"/>
    <add key="Menu" value="http://localhost:9001/api/Menu"/>
    <add key="OperationLog" value="http://localhost:9001/api/OperationLog"/>
    <add key="OperationLogSetting" value="http://localhost:9001/api/OperationLogSetting"/>
    <add key="OU" value="http://localhost:9001/api/OU"/>
    <add key="Role" value="http://localhost:9001/api/Role"/>
    <add key="RoleData" value="http://localhost:9001/api/RoleData"/>
    <add key="SystemType" value="http://localhost:9001/api/SystemType"/>
    <add key="User" value="http://localhost:9001/api/User"/>
    
  </appSettings>
</configuration>