<?xml version="1.0" encoding="utf-8"?><applicationUpdater applicationId="20A950C4-FE42-47BB-9345-FCD2F88F67F2"                    manifestUri="http://localhost:6080/Updater/HadesfERP.Updater.xml"                    version="1.0.0"                    title="四方友信ERP管理平台-版本更新"></applicationUpdater>