<?xml version="1.0"?>
<configuration>
 
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.serviceModel>
    <services>
        <service behaviorConfiguration="CustomBehavior" name="Hades.BaseData.WCFLibrary.TradeCorpService">
          <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
            contract="Hades.BaseData.Facade.ITradeCorpService">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>
      </services>
  </system.serviceModel>
</configuration>