<?xml version="1.0"?>
<configuration>
 
  <!--
        在 Internet 信息服务 7.0 下，运行 ASP.NET AJAX 要求 
      system.webServer 节。这在以前版本的 IIS 中并非必需。
    -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="CustomBehavior" 
               name="Hades.Workflow.WCFLibrary.WorkFlowRuntimeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
                  contract="Hades.Workflow.Facade.IWorkFlowRuntimeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowHelperService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowHelperService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.AccreditUserService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IAccreditUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.AuditMessageService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IAuditMessageService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.MainUserControlService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IMainUserControlService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.OperatorService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IOperatorService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.OperatorInstanceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IOperatorInstanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.SubWorkFlowService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.ISubWorkFlowService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.TaskVarService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.ITaskVarService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.UserControlsService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IUserControlsService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.UserControlsLinkService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IUserControlsLinkService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowAbnormalService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowAbnormalService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowBackService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowBackService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowClassService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowClassService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowEventService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowEventService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkFlowInstanceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkFlowInstanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkLinkService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkLinkService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkOutTimeService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkOutTimeService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkTaskService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkTaskService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkTaskCommandsService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkTaskCommandsService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkTaskControlsService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkTaskControlsService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkTaskInsNextOperService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkTaskInsNextOperService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkTaskInstanceService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkTaskInstanceService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="CustomBehavior" name="Hades.Workflow.WCFLibrary.WorkTaskPowerService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="Hades.Workflow.Facade.IWorkTaskPowerService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>