<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="attachment.clientdx" version="1.0.0" targetFramework="net40" />
  <package id="dictionary.clientdx" version="1.0.0" targetFramework="net40" />
  <package id="Hades.Framework.BaseUIDx" version="1.0.0" targetFramework="net40" />
  <package id="Hades.Framework.Commons" version="1.0.0" targetFramework="net40" />
  <package id="Hades.Framework.ControlUtil" version="1.0.0.1" targetFramework="net40" />
  <package id="Hades.Pager.Entity" version="1.0.0" targetFramework="net40" />
  <package id="Hades.Pager.WinControl" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="security.clientdx" version="1.0.0" targetFramework="net40" />
</packages>