<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <!--使用WCF方式获取数据的配置-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>      
      <!--字典管理模块-->
      <endpoint address="http://localhost:6080/Base/DataDict/DictTypeService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IDictTypeService"
        name="WSHttpBinding_IDictTypeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/DataDict/DictDataService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IDictDataService"
        name="WSHttpBinding_IDictDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/DataDict/CityService.svc" 
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" 
                bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.ICityService" 
                name="WSHttpBinding_ICityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/DataDict/DistrictService.svc" 
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" 
                bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IDistrictService" 
                name="WSHttpBinding_IDistrictService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/DataDict/ProvinceService.svc" 
                behaviorConfiguration="CustomBehavior"  binding="wsHttpBinding" 
                bindingConfiguration="CustomWsHttpBinding" contract="Hades.Dictionary.Facade.IProvinceService" 
                name="WSHttpBinding_IProvinceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/DataDict/UserParameterService.svc" 
                binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
                contract="Hades.Dictionary.Facade.IUserParameterService" name="WSHttpBinding_IUserParameterService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
<!--附件管理-->
      <endpoint address="http://localhost:6080/Base/BS/FileUploadService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.Attachment.Facade.IFileUploadService"
        name="WSHttpBinding_IFileUploadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
<!--权限管理模块-->
      <endpoint address="http://localhost:6080/Base/ACL/FunctionService.svc"
  behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
  contract="Hades.Security.Facade.IFunctionService" name="WSHttpBinding_IFunctionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/OUService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.IOUService" name="WSHttpBinding_IOUService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/RoleService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.IRoleService" name="WSHttpBinding_IRoleService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/SecurityService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.ISecurityService" name="WSHttpBinding_ISecurityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/SystemTypeService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.ISystemTypeService" name="WSHttpBinding_ISystemTypeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/UserService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.IUserService" name="WSHttpBinding_IUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/LoginLogService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.ILoginLogService" name="WSHttpBinding_ILoginLogService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/MenuService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Security.Facade.IMenuService" name="WSHttpBinding_IMenuService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/BlackIPService.svc"
 behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
 contract="Hades.Security.Facade.IBlackIPService" name="WSHttpBinding_IBlackIPService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/OperationLogService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"  bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.Security.Facade.IOperationLogService"   name="WSHttpBinding_IOperationLogService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/OperationLogSettingService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.Security.Facade.IOperationLogSettingService" name="WSHttpBinding_IOperationLogSettingService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/ACL/RoleDataService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" 
       contract="Hades.Security.Facade.IRoleDataService" name="WSHttpBinding_IRoleDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/DataDict/RefDictNameService.svc"
     behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
     contract="Hades.Dictionary.Facade.IRefDictNameService" name="WSHttpBinding_IRefDictNameService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!--邮件收发模块-->
      <endpoint address="http://localhost:6080/Base/Mail/MailAttachService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailAttachService" name="WSHttpBinding_IMailAttachService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailConfigService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailConfigService" name="WSHttpBinding_IMailConfigService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailDetailService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailDetailService" name="WSHttpBinding_IMailDetailService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailReceiveService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailReceiveService" name="WSHttpBinding_IMailReceiveService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailReceiveTaskService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailReceiveTaskService" name="WSHttpBinding_IMailReceiveTaskService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailSendService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailSendService" name="WSHttpBinding_IMailSendService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailSendHistoryService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailSendHistoryService" name="WSHttpBinding_IMailSendHistoryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/Base/Mail/MailUnifiedConfigService.svc"
                behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.EmailPorter.Facade.IMailUnifiedConfigService" name="WSHttpBinding_IMailUnifiedConfigService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>    
    </client>
  </system.serviceModel>
</configuration>