<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--使用WCF方式获取数据的配置-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:6080/HR/BonusDefineService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IBonusDefineService"
        name="WSHttpBinding_IBonusDefineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/HR/DepartmentService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IDepartmentService"
        name="WSHttpBinding_IDepartmentService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    <endpoint address="http://localhost:6080/HR/PositionService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IPositionService"
        name="WSHttpBinding_IPositionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/HR/ProductionLineService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IProductionLineService"
        name="WSHttpBinding_IProductionLineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/HR/StaffBonusService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffBonusService"
        name="WSHttpBinding_IStaffBonusService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/HR/StaffSalaryService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffSalaryService"
        name="WSHttpBinding_IStaffSalaryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/HR/StaffSalaryViewService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffSalaryViewService"
        name="WSHttpBinding_IStaffSalaryViewService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    <endpoint address="http://localhost:6080/HR/StaffService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffService"
        name="WSHttpBinding_IStaffService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    <endpoint address="http://localhost:6080/HR/WorkTeamService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkTeamService"
       name="WSHttpBinding_IWorkTeamService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>