<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--使用WCF方式获取数据的配置-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!-- Base 模块 -->
      <endpoint address="http://localhost:6080/HR/Base/DepartmentService.svc"
              behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
              bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IDepartmentService"
              name="WSHttpBinding_IDepartmentService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Base/PositionService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IPositionService"
       name="WSHttpBinding_IPositionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:6080/HR/Base/ProductionLineService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IProductionLineService"
        name="WSHttpBinding_IProductionLineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Base/StaffLevelService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffLevelService"
       name="WSHttpBinding_IStaffLevelService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:6080/HR/Base/StaffService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffService"
       name="WSHttpBinding_IStaffService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:6080/HR/Base/WorkTeamService.svc"
         behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
         bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkTeamService"
         name="WSHttpBinding_IWorkTeamService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Base/WorkSectionService.svc"
         behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
         bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkSectionService"
         name="WSHttpBinding_IWorkSectionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Base/WarehouseService.svc"
         behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
         bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWarehouseService"
         name="WSHttpBinding_IWarehouseService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Base/WarehouseManagerService.svc"
         behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
         bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWarehouseManagerService"
         name="WSHttpBinding_IWarehouseManagerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- Base 模块 End -->

      <!-- 考勤 模块 -->
      <endpoint address="http://localhost:6080/HR/Attendance/AttendanceService.svc"
         behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
         bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IAttendanceService"
         name="WSHttpBinding_IAttendanceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Attendance/LaborDailyAttendanceService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.ILaborDailyAttendanceService"
        name="WSHttpBinding_ILaborDailyAttendanceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Attendance/LaborDailyWorkloadService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
        bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.ILaborDailyWorkloadService"
        name="WSHttpBinding_ILaborDailyWorkloadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:6080/HR/Attendance/WorkTeamDailyWorkloadService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IWorkTeamDailyWorkloadService"
       name="WSHttpBinding_IWorkTeamDailyWorkloadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:6080/HR/Attendance/LaborProductionWorkloadService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.ILaborProductionWorkloadService"
       name="WSHttpBinding_ILaborProductionWorkloadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <endpoint address="http://localhost:6080/HR/Attendance/LaborChangeWorkloadService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
       bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.ILaborChangeWorkloadService"
       name="WSHttpBinding_ILaborChangeWorkloadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Attendance/LaborElectricWorkloadService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.HR.Facade.ILaborElectricWorkloadService" name="WSHttpBinding_ILaborElectricWorkloadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Attendance/LaborRepairWorkloadService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.HR.Facade.ILaborRepairWorkloadService" name="WSHttpBinding_ILaborRepairWorkloadService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- 考勤 模块 End -->

      <!-- 工资 模块 -->
      <endpoint address="http://localhost:6080/HR/Salary/BonusDefineService.svc"
            behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
            bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IBonusDefineService"
            name="WSHttpBinding_IBonusDefineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Salary/LaborSalaryRecordService.svc"
            behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
            bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.ILaborSalaryRecordService"
            name="WSHttpBinding_ILaborSalaryRecordService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/HR/Salary/StaffSalaryBaseService.svc"
            behaviorConfiguration="CustomBehavior" binding="wsHttpBinding"
            bindingConfiguration="CustomWsHttpBinding" contract="Hades.HR.Facade.IStaffSalaryBaseService"
            name="WSHttpBinding_IStaffSalaryBaseService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- 工资 模块 End -->

      <!-- 生产 模块 -->
      <endpoint address="http://localhost:6080/CompletionListService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.HR.Facade.ICompletionListService" name="WSHttpBinding_ICompletionListService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/ElectricMaintenanceManHoursService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.HR.Facade.IElectricMaintenanceManHoursService" name="WSHttpBinding_IElectricMaintenanceManHoursService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/MachineMaintenanceManHoursService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.HR.Facade.IMachineMaintenanceManHoursService" name="WSHttpBinding_IMachineMaintenanceManHoursService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/ReplaceMachineCategoryService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.HR.Facade.IReplaceMachineCategoryService" name="WSHttpBinding_IReplaceMachineCategoryService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/ReplaceMachineManHoursService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.HR.Facade.IReplaceMachineManHoursService" name="WSHttpBinding_IReplaceMachineManHoursService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:6080/ReplaceMachineStandardManHoursService.svc"
       behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
       contract="Hades.HR.Facade.IReplaceMachineStandardManHoursService" name="WSHttpBinding_IReplaceMachineStandardManHoursService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- 生产 模块 End -->

      <!-- 视图 模块 -->
 
      <!-- 视图 模块 End -->  
    </client>
  </system.serviceModel>
</configuration>