<?xml version="1.0"?>
<configuration>
  <!--系统主要WCF服务配置-->
  <system.serviceModel>
     <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport realm="" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="655360"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:6080/WorkFlow/AccreditUserService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" 
                bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IAccreditUserService" 
                name="WSHttpBinding_IAccreditUserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/AuditMessageService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IAuditMessageService"
        name="WSHttpBinding_IAuditMessageService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/MainUserControlService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IMainUserControlService"
        name="WSHttpBinding_IMainUserControlService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/OperatorInstanceService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IOperatorInstanceService"
        name="WSHttpBinding_IOperatorInstanceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/OperatorService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IOperatorService"
        name="WSHttpBinding_IOperatorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
     <endpoint address="http://localhost:6080/WorkFlow/SubWorkFlowService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.ISubWorkFlowService"
        name="WSHttpBinding_ISubWorkFlowService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
     <endpoint address="http://localhost:6080/WorkFlow/TaskVarService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.ITaskVarService"
        name="WSHttpBinding_ITaskVarService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/UserControlsLinkService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IUserControlsLinkService"
        name="WSHttpBinding_IUserControlsLinkService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    <endpoint address="http://localhost:6080/WorkFlow/UserControlsService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IUserControlsService"
        name="WSHttpBinding_IUserControlsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/WorkFlowAbnormalService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowAbnormalService"
        name="WSHttpBinding_IWorkFlowAbnormalService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    <endpoint address="http://localhost:6080/WorkFlow/WorkFlowBackService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowBackService"
        name="WSHttpBinding_IWorkFlowBackService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
     <endpoint address="http://localhost:6080/WorkFlow/WorkFlowClassService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowClassService"
        name="WSHttpBinding_IWorkFlowClassService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
     <endpoint address="http://localhost:6080/WorkFlow/WorkFlowEventService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowEventService"
        name="WSHttpBinding_IWorkFlowEventService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/WorkFlowHelperService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowHelperService"
        name="WSHttpBinding_IWorkFlowHelperService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:6080/WorkFlow/WorkFlowRuntimeService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowRuntimeService"
        name="WSHttpBinding_IWorkFlowRuntimeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    <endpoint address="http://localhost:6080/WorkFlow/WorkFlowInstanceService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowInstanceService"
        name="WSHttpBinding_IWorkFlowInstanceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>      
      <endpoint address="http://localhost:6080/WorkFlow/WorkFlowService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkFlowService"
        name="WSHttpBinding_IWorkFlowService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>  
      <endpoint address="http://localhost:6080/WorkFlow/WorkLinkService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkLinkService"
        name="WSHttpBinding_IWorkLinkService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>  
    <endpoint address="http://localhost:6080/WorkFlow/WorkOutTimeService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkOutTimeService"
        name="WSHttpBinding_IWorkOutTimeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>  
     <endpoint address="http://localhost:6080/WorkFlow/WorkTaskCommandsService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkTaskCommandsService"
        name="WSHttpBinding_IWorkTaskCommandsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>  
     <endpoint address="http://localhost:6080/WorkFlow/WorkTaskControlsService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkTaskControlsService"
        name="WSHttpBinding_IWorkTaskControlsService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint> 
      <endpoint address="http://localhost:6080/WorkFlow/WorkTaskInsNextOperService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkTaskInsNextOperService"
        name="WSHttpBinding_IWorkTaskInsNextOperService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint> 
      <endpoint address="http://localhost:6080/WorkFlow/WorkTaskInstanceService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkTaskInstanceService"
        name="WSHttpBinding_IWorkTaskInstanceService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint> 
     <endpoint address="http://localhost:6080/WorkFlow/WorkTaskPowerService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkTaskPowerService"
        name="WSHttpBinding_IWorkTaskPowerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint> 
      <endpoint address="http://localhost:6080/WorkFlow/WorkTaskService.svc"
        behaviorConfiguration="CustomBehavior" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding"
        contract="Hades.Workflow.Facade.IWorkTaskService"
        name="WSHttpBinding_IWorkTaskService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint> 
    </client>
  </system.serviceModel>
</configuration>
